.sidebar-btn-toggle {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  margin-bottom: 0.25rem;

  &__container {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s;

    &:hover {
      box-shadow: 0px 0px 20px #ccc;
      background-color: #f2efef;
    }

    i {
      background-color: gray;
      width: 20px;
      height: 3px;
      margin: 2px;
      border-radius: 2px;
      transition: all ease 0.5s;
    }
    .open:nth-child(1) {
      transform: rotate(-38deg) translateY(6px);
    }
    .open:nth-child(2) {
      opacity: 0;
    }
    .open:nth-child(3) {
      transform: rotate(38deg) translateY(-6px);
    }
    .close:nth-child(1) {
      transform: rotate(0) translateY(0);
      background-color: $primary;
    }
    .close:nth-child(2) {
      opacity: 1;
      background-color: $primary;
    }
    .close:nth-child(3) {
      transform: rotate(0) translateY(0);
      background-color: $primary;
    }
  }
}
