.sidebar-user {
  background-color: $primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__awatar {
    border-radius: 50%;
    box-shadow: $shadow-20;
  }
}
