.sidebar-nav {
  width: 100%;
  &__item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-weight: $font-wight-bold;
    font-size: $font-size-lg;
    padding: 0 1rem;
    height: 2.5rem;
    a {
      text-decoration: none;
      color: $dark-secondary;
      cursor: pointer;
      .sidebar-nav__item--icon {
        padding: 0 1rem 0 0.5rem;
      }
    }
  }
}
