.sidebar-nav {
  display: inline-block;
  transition: all 0.2s 0.2s ease-in-out;
  ul {
    list-style: none;
  }
  &__item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-weight: $font-wight-bold;
    font-size: $font-size-md;
    height: 2.5rem;
    padding: 0 1rem;
    position: relative;
    &::before {
      content: "";
      background: $primary;
      height: 100%;
      position: absolute;
      left: 100%;
      top: 0;
      opacity: 0;
      width: 100%;
    }
    &:hover,
    &:focus {
      outline: none;
      &::before {
        left: 0;
        opacity: 1;
        width: 0.3rem;
        transition: left 0.1s, width 0.15s 0.1s, opacity 1.5s;
      }
      .link {
        color: $primary;
      }
    }
    .link {
      color: $dark-secondary;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-right: 0.5rem;
      text-decoration: none;
      transition: color $transition-duration;
      width: 100%;
      .sidebar-nav__item--icon {
        padding: 0 1rem 0 0.5rem;
      }
    }
  }
}
