.button {
  color: $light;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  margin: 0.5rem;
  outline: none;
  padding: 10px 20px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  width: 6rem;
  &:hover {
    background: linear-gradient(
      149deg,
      rgb(91, 138, 185) 0%,
      rgb(2, 51, 213) 40%,
      rgb(48, 63, 159) 100%
    );
  }
  &-reset {
    background: linear-gradient(
      149deg,
      rgb(48, 63, 159) 0%,
      rgb(2, 51, 213) 40%,
      rgb(91, 138, 185) 100%
    );
  }
  &-search {
    background: rgb(195, 1, 4);
    background: linear-gradient(
      149deg,
      rgb(16, 94, 96) 0%,
      rgb(19, 144, 150) 40%,
      rgb(45, 151, 155) 100%
    );
  }
  &-back {
    background: rgb(195, 1, 4);
    background: linear-gradient(
      149deg,
      rgb(102, 102, 102) 0%,
      rgb(144, 142, 137) 40%,
      rgb(200, 200, 199) 100%
    );
  }
}
