.button {
  color: $light;
  border-radius: 5px;
  box-shadow: $shadow-10;
  cursor: pointer;
  font-weight: 500;
  margin: 0.5rem;
  padding: 10px 20px;
  text-align: center;
  width: 6rem;
  &:hover {
    background: green;
  }
  &-reset {
    background-color: $primary;
  }
  &-search {
    background-color: red;
  }
}
