.input {
  color: $light;
  &-search {
    border: 1px solid rgba($light-secondary, 0.4);
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px rgba($light-secondary, 0.5);
    font-weight: 500;
    font-size: $font-size-md;
    margin: 0.5rem;
    padding: 10px 20px;
    transition: all 0.2s ease-in-out;
    width: 20rem;
  }
}
