//Color
$primary: #9c27b0;
$second: #ce7800;
$light: #fff;
$grey-50: #fafafa;
//shadow
$shadow-5: 2px 3px 1px rgba(0, 0, 0, 0.6); // cień textu
$shadow-10: 0 0.25rem 1rem rgba(0, 0, 0, 0.4);
$shadow-20: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.4);
//font-size
$font-size-xxs: 0.625rem;
$font-size-xs: 0.75rem;
$font-size-sm: 0.9rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;
//transition
$transition-duration: 0.2s;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  //font-family: "Leckerli One", cursive;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.app {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  .app__page {
    width: calc(100% - 12rem);
    background: $grey-50;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
  }
}
