.page-users {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  &__searchUser {
    display: flex;
    flex-direction: row;
    align-content: center;
  }
}
.user-list {
  list-style: none;
  padding: 2rem;
  &__item {
    padding: 0.5rem;
    font-size: $font-size-lg;
    font-weight: 500;
  }
}
