.user-profil-lg {
  opacity: 1;

  transition: all 0.5s 0.3s ease-in-out;
  width: 18vh;
  height: 18vh;
  background-color: green;
}
.user-profil-xs {
  transform: scale(1);
  width: 8vh;
  height: 8vh;
  background-color: red;
  opacity: 1;
}
