.user-profil {
  width: 40vw;
  height: 40vw;
  background-color: green;
}
.profil {
  width: 50%;
  min-width: 7rem;
  height: 25rem;
  background-color: green;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  &-photo {
    height: 100%;
    border: 1px solid red;
    &__image {
      width: 10rem;
      height: 70%;
      object-fit: cover;
      border: 2px solid yellow;
    }
  }
}
